* {
    margin: 0px;
}

header {
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background-color: #ffffff; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    .head{
        display: flex;
        width: 1200px;
        justify-content: space-between;
        .left {
            flex: none; 
            font-family: Noto Sans TC;
            font-size: 30px;
            font-weight: 700;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: left;
            color: #448899;
        }
        .right {
            display: flex; 
            align-items: center;
            width: 175px;
            height:34px;
                .item {
                flex: none; 
                font-family: Noto Sans TC;
                justify-content: space-between;
                padding: 10px;
                align-items: center;
                font-size: 16px;
                color: #666666;
            }
        }
    }
}
section{
    //display: flex;
    //justify-content: center; 
    margin-top: 94px;
    .form{
        display: flex;
        justify-content: center;

        .formContainer{
            width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
            .formL{
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                .image-container{
                    img{
                        width: 540px;
                        height: 406px;
                        object-fit: cover;
                    }
                }

                #prevButton{
                    background-image: url('./img/leftArrow.png');
                    width: 36px;
                    height: 36px;
                    opacity: 75%;
                    left:15px;
                    border: 0px;
                    position: absolute;
                    border-radius: 100px;
                }
                #nextButton{
                    background-image: url('./img/rightArrow.png');
                    width: 36px;
                    height: 36px;
                    opacity: 75%;
                    border: 0px;
                    right: 15px;
                    position: absolute;
                    border-radius: 100px;
                }
                .dotContainer{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    width: 100%;
                    bottom: 10px;
                    .dot {
                        width: 12px;
                        height: 12px;
                        background-image: url('./img/dot.png');
                        border-radius: 50%;
                        margin: 0 6px;
                        cursor: pointer;
                        transition: background-color 0.3s;
                    }
                    .dot.active {
                        background-image: url("./img/circle\ current.png"); 
                        width: 12px;
                        height: 12px;
                    }
                }
                
            }
            .formR{
                width: 600px;
                .name{
                    font-family: Noto Sans TC;
                    font-weight:bold;
                    font-size: 24px;
                    color: #666666;
                    font-style: normal;
                }
                .position{
                    margin-top: 15px;
                    font-family: Noto Sans TC;
                    font-size: 16px;
                    color: #666666;
                    font-style: normal;
                }
                .bookingForm{
                    background-color: #E8E8E8;
                    margin-top: 20px;
                    width: 600px;
                    height: 302px;
                    position: relative;
                    .bookingTitle{
                        margin-top: 15px;
                        margin-left: 20px;
                        color: #666666;
                        font-family: Noto Sans TC;
                        font-weight: bold;
                        font-size: 16px;
                        font-style: normal;
                        position: absolute;
                    }
                    .bookingInfo{
                        margin-top: 52px;
                        margin-left: 20px;
                        color: #666666;
                        font-family: Noto Sans TC;
                        font-size: 16px;
                        font-style: normal;
                        position: absolute;
                    }
                    .date{
                        display:flex ;
                        align-items: center;
                        justify-self: start;
                        position: absolute;
                        margin-top: 91px;
                        margin-left: 20px;
                        .dateTitle{
                            font-family: Noto Sans TC;
                            font-weight:bold;
                            font-size: 16px;
                            color: #666666;
                            font-style: normal;
                            padding-right :5px;
                        }
                        .dateForm{
                            width: 193px;
                            height: 35px; 
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #FFFFFF;
                            
                            input[type="date"] {
                                width: 173px;
                                height: 25px; 
                                border:0px;
                                font-family: Noto Sans TC;
                                font-size: 16px;
                                color: #000;
                                background-image: url('./img/calendar.png'); /* 替换 'icon.png' 为您的图标文件路径 */
                                background-repeat: no-repeat;
                                background-position: right center;
                                //padding-right: 10px;
                                }
                            }
                        }
                    }
                    .time{
                        display:flex ;
                        align-items: center;
                        justify-self: start;
                        position: absolute;
                        margin-top: 141px;
                        margin-left: 20px;
                        .timeTitle{
                            font-family: Noto Sans TC;
                            font-weight:bold;
                            font-size: 16px;
                            color: #666666;
                            font-style: normal;
                        }
                        .morning{
                            display: flex;
                            justify-content: center;
                            width: 87px;
                            img{
                                width: 22px;
                                height: 22px;
                            }
                            .morningTitle{
                                font-family: Noto Sans TC;
                                font-size: 16px;
                                font-style: normal;
                                color: #666666;
                            }
                        }
                        .afternoon{
                            display: flex;
                            justify-content: center;
                            width: 87px;
                            img{
                                width: 22px;
                                height: 22px;
                            }
                            .afternoonTitle{
                                font-family: Noto Sans TC;
                                font-size: 16px;
                                font-style: normal;
                                color: #666666;
                            }
                        }
                    }
                    .fee{                    
                        display:flex ;
                        align-items: center;
                        justify-self: start;
                        position: absolute;
                        margin-top: 178px;
                        margin-left: 20px;
                        .feeTitle{
                            font-family: Noto Sans TC;
                            font-weight:bold;
                            font-size: 16px;
                            color: #666666;
                            font-style: normal;
                        }
                        .money{
                            padding-left :5px;
                            font-family: Noto Sans TC;
                            font-size: 16px;
                            font-style: normal;
                            color: #666666;
                        }
                    }
                    .forBooking{
                        position: absolute;
                        margin-top:225px ;
                        margin-left: 20px;
                        width: 154px;
                        height: 36px;
                        background-color: #448899;
                        color: #FFFFFF;
                        border-radius: 5px;
                        border:0px;
                        font-size: 19px;
                    }
                }
            }
        }
    }
    
    .lineContainer{
        display: flex;
        justify-content: center;
        //margin-top: 37px;
        .line {
            border: 1px solid #E8E8E8;
            border-top: 0px;
            //margin: 10px 0;
            width: 1200px;
            display: flex;
            justify-content: center;
        }
    }

    .infors{  
        display: flex;
        justify-content: center;
        .infoContainer{
            width: 1200px;
            .description{
                margin-top: 50px;
                font-family: Noto Sans TC;
                font-size: 16px;
                font-style: normal;
                color:#666666;
            }
            .address{
                margin-top:20px ;
                .addressTitle{
                    font-family: Noto Sans TC;
                    font-weight:bold;
                    font-size: 16px;
                    color: #666666;
                    font-style: normal;
                    
                }
                .addressInfo{
                    font-family: Noto Sans TC;
                    font-size: 16px;
                    font-style: normal;
                    color:#666666;
                }
            }
            .transport{
                margin-top:20px ;
                .transportTitle{
                    font-family: Noto Sans TC;
                    font-weight:bold;
                    font-size: 16px;
                    color: #666666;
                    font-style: normal;
                }
                .transportInfo{
                    font-family: Noto Sans TC;
                    font-size: 16px;
                    font-style: normal;
                    color:#666666;
                }
            }
        }     
    }
    
    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
        padding-right: 10px;
    }

footer{
    margin-top: 120px;
    width: 100%;
    height: 104px;
    background-color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    .foot{
        color: #FFFFFF;
        font-family: Noto Sans TC;
        font-weight:bold;
        font-size: 16px;
        line-height: 14px;

    }
}


@media(max-width:1200px) {
    header{
        .head{
            width: 90%;
        }
    }
    section{
        .form{
            .formContainer{
                .formL{
                    .image-container{
                        width: 90%;
                        img{
                            width: 100%;
                            object-fit:cover;
                        }
                    }
                    #nextButton{
                        right: 40px;
                    }
                    #prevButton{
                        left: 40px;
                    }
                }
                .formR{
                    .bookingForm{
                        width: 95%;
                        .date{
                            width: 90%;
                        }
                    }
                }
            }
        }
        .lineContainer{
            .line{
                width: 95%;
            }
        }
        .infors{
            .infoContainer{
                width: 90%;
            }
        }
    }

}

@media(max-width:600px) {
    header{
        .head{
            width: 90%;
        }
    }
    section{
        margin-top: 54px;
        .form{
            .formContainer{
                display: flex;
                flex-direction: column;
                width: 100%;
                .formL{
                    width: 100%;
                    .image-container{
                        width: 100%;
                        img{
                            width: 100%;
                            object-fit:cover;
                        }
                    }

                    #nextButton{
                        right: 40px;
                    }
                    #prevButton{
                        left: 40px;
                    }
                }
                .formR{
                    width: 95%;
                    .name{
                        margin-top: 15px;
                    }
                    .bookingForm{
                        width: 100%;
                        .date{
                            width: 90%;
                            .dateForm{
                                width: 40%;
                            }
                        }
                    }
                }
            }
        }
        .lineContainer{
            .line{
                width: 95%;
            }
        }
        .infors{
            .infoContainer{
                width: 90%;
            }
        }
    }
    
}

@media(max-width:360px) {
    header{
        .head{
            width: 90%;
        }
    }
    section{
        margin-top: 54px;
        .form{
            .formContainer{
                display: flex;
                flex-direction: column;
                width: 100%;
                .formL{
                    width: 100%;
                    img{
                        width: 100%;
                        object-fit:cover;
                    }

                }
                .formR{
                    width: 95%;
                    .name{
                        margin-top: 15px;
                    }
                    .bookingForm{
                        width: 100%;
                        .date{
                            width: 90%;
                            margin-top:105px ;
                            .dateForm{
                                width: 70%;
                            }
                        }
                    }
                    .time{
                        margin-top: 152px;
                    }
                    .fee{
                        margin-top: 185px;
                    }
                }
            }
        }
        .lineContainer{
            .line{
                width: 95%;
            }
        }
        .infors{
            .infoContainer{
                width: 90%;
            }
        }
    }
}