* {
    margin: 0px;
}

header {
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background-color: #ffffff; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    .head{
        display: flex;
        width: 1200px;
        justify-content: space-between;
        .left {
            flex: none; 
            font-family: Noto Sans TC;
            font-size: 30px;
            font-weight: 700;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: left;
            color: #448899;
        }
        .right {
            display: flex; 
            align-items: center;
            width: 175px;
            height:34px;
                .item {
                flex: none; 
                font-family: Noto Sans TC;
                justify-content: space-between;
                padding: 10px;
                align-items: center;
                font-size: 16px;
                color: #666666;
            }
        }
    }
}


section {      
    display: flex; 
    margin-top: 54px;
    .welcome-bg {
        width: 1920px;
        height: 320px;
        background-image: url('./img/welcome.png');
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        display: flex; 
        justify-content: center; 
        align-items: center;
    }

    .welcome {
        font-weight:bold;
        display: flex;
        width: 1200px;
        height: 149px;
        flex-direction: column; 
        align-items: flex-start;
        justify-content: center; 
        
        .text {
            color: #F8F8F8;
            font-family: Noto Sans TC;
            font-size: 28px;
            height: 41px;
            width: 100%;
            margin-bottom:15px ;

        }
        .text2 {
            color: #F8F8F8;
            font-family: Noto Sans TC;
            font-size: 16px;
            height: 22px;
            margin-bottom: 25px;
        }
        .search {
            display: flex;
            flex-direction: row;
            width: 460px;
            height: 46px;
            .search-bar {
                border:0px;
                width: 400px;
                border-radius: 5px 0 0 5px;
                justify-content: center;
                align-items: flex-start;
                padding: 10px 15px;
                font-weight:bold;
            }
            .search-btn {
                background-color: #448899;
                background-image: url('./img/search.png');
                background-size: 30px 30px !important;
                background-position: center  !important;
                border:0px;
                background-repeat: no-repeat;
                border-radius: 0 5px 5px 0;
                width: 60px;
                
            }
        }
    }
}

main{
    background-color: #FFFFFF;
    //height: 966px;
    .list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    
        .list-bar {
            background-color: #FFFFFF;
            font-family: Noto Sans TC;
            font-size: 16px;
            height: 70px;
            display: flex;
            align-items: center;
            width: 1200px;
    
            .list-Lbtn,
            .list-Rbtn {
                background-color: #FFFFFF;
                width: 32px;
                height: 32px;
                background-size: 32px 32px;
                cursor: pointer;
            }
    
            .list-Lbtn {
                background-image: url('./img/listL.png');
                border:0px;
            }
    
            .list-Rbtn {
                background-image: url('./img/listR.png');
                border:0px;
            }
    
            .mrts {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-grow: 1; 
            }
    
            .mrt-item {
                height: 24px;
                padding: 10px 13px;
                cursor: pointer;
                color: #666666;

            }
        }
    }
    .content {
        display: flex;
        justify-content: center; 
        margin-bottom: 40px;
        .main2 {
            display: flex;
            width: 1200px;
            //height: 816px;
            justify-content: space-between; 
            //align-content: space-between;
            flex-wrap: wrap;
            .attraction_box{
                width: 270px;
                height: 240px;
                margin-bottom: 30px;
                border-radius: 5px;
                border: 1px solid var(--secondary-color-gray-20, #E8E8E8);
                .img{
                    position: relative;
                    width: 270px;
                    height: 197px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    .name{
                        position: absolute;
                        bottom: 0;
                        left: 0; 
                        display: flex;
                        align-items: center;
                        background-color: #000000;
                        opacity: 0.6;
                        color: #FFFFFF;
                        width: calc(100% - 10px);
                        height: 40px;
                        font-size: 16px;
                        padding: 0px 0px 0px 10px;
                    }
                }
                .describe{
                    font-family: Noto Sans TC;
                    font-size: 16px;
                    display: flex;
                    justify-content: space-between;
                    color:#757575;
                    align-items: center;
                    height: 45px;
                    padding: 0px 10px;
                    
                    }
                }
                .empty{
                    width: 270px;
                    height: 242px;
                }
            }
        }        
    }
    
footer{
    width: 100%;
    height: 104px;
    background-color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    .foot{
        color: #FFFFFF;
        font-family: Noto Sans TC;
        font-size: 16px;
        line-height: 14px;

    }
}

@media(max-width:1200px) {
    header{
        .head{
            width: 90%;
        }
    }
    section{
        .welcome{
            width: 90%;
        }
    }
    main{
        .list{
            .list-bar{
                width: 90%;
                .mrts{
                    white-space: nowrap;
                    .mrt-item{
                        padding: 7px;
                    }
                }
            }
        }
        .content{
            .main2{
                width: 90%;
                .attraction_box{
                    width: 30%;
                    object-fit: contain;
                    .img{
                        width: 100%;
                        img{
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .empty{
                    width: 0%;
                }
            }
        }
    }
}

@media(max-width:600px) {
    header{
        .head{
            width: 80%;
        }
    }
    section{
        .welcome-bg{
            width: 100%;
            .welcome{
                width: 80%;
                .search{
                    width: 80%;
                    .search-bar{
                        width: 90%;
                    }
                }
            }
        }
    }
    main{
        .list{
            .list-bar{
                width: 80%;
                .mrts{
                    white-space: nowrap;
                    .mrt-item{
                        padding: 5px;
                    }
                    
                }
            }
        }
        .content{
            .main2{
                width: 90%;
                .attraction_box{
                    width: 45%;
                    object-fit: contain;
                    .img{
                        width: 100%;
                        img{
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .empty{
                    width: 0%;
                }
            }
        }
    }
}

@media(max-width:360px) {
    header{
        .head{
            width: 90%;
        }
    }
    section{
        //width: 100%;
        .welcome-bg{
            //width: 100%;
            .welcome{
                width: 90%;
                .search{
                    width: 90%;
                    .search-bar{
                        width: 90%;
                    }
                }
            }
        }
    }
    main{
        .list{
            .list-bar{
                width: 90%;
                .mrts{
                    .mrt-item{
                        padding: 2px;
                    }
                }
            }
        }
        .content{
            .main2{
                width: 90%;
                .attraction_box{
                    width: 100%;
                    object-fit: contain;
                    .img{
                        width: 100%;
                        img{
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .empty{
                    width: 0%;
                }
            }
        }
    }

}