<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taipei Day Trip</title>
    <link rel="stylesheet" href="../static/CSS/attraction/attraction.css" />
</head>


<div class="sign">
    <div class="loginBox">
        <div class="decorate"></div>
        <div class="loginTitle">
            登入會員帳號
            <img
            class="close1"
            src="../static/CSS/index/img/close.png"
            alt="close"
            />
        </div>
        <div class="login">
            <input
                class="loginEmail"
                type="text"
                name="email"
                id="login_email"
                placeholder="輸入電子信箱"
                required
            />
            <input
                class="loginPassword"
                type="password"
                name="password"
                id="login_password"
                placeholder="輸入密碼"
                required
            />
            <button class="loginBtn">登入帳戶</button>
            <div class="notice1">還沒有帳戶？點此註冊</div>
            <div class="message" id ="message"></div>
        </div>
    </div>

    <div class="signupBox">
        <div class="decorate"></div>
        <div class="signupTitle">註冊會員帳號
            <img
                class="close2"
                src="../static/CSS/index/img/close.png"
                alt="close"
            />
        </div>
        <div class="signup">
            <input
                class="signupName"
                type="text"
                name="name"
                id="signup_name"
                placeholder="輸入姓名"
                required
            />
            <input
            class="signupEmail"
            type="email"
            name="email"
            id="signup_email"
            placeholder="輸入電子信箱"
            required
            />
            <input
                class="signupPassword"
                type="password"
                name="password"
                id="signup_password"
                placeholder="輸入密碼"
                required
            />
            <button type="submit" class="signupBtn">註冊帳戶</button>
            <div class="notice2">已經有帳戶了？點此登入</div>
            <div class="message2" id="message2"></div>
        </div>
    </div>
</div>

<body>
    <header>
        <div class="head">
            <a href = "/">
                <div class="left">台北一日遊</div>
            </a>
            <div class="right">
                <div class="item-booking">預定行程</div>
                <div class="item-login">登入/註冊</div>
                <div class="item-signout">登出</div>
            </div>
        </div>
    </header>
    <section>
        <div class="form">
            <div class="formContainer">
                <div class="formL">
                    <div class="image-container">
                        <img id="imageElement">
                    </div>
                    <button id="prevButton"></button>
                    <button id="nextButton"></button>
                    <div class="dotContainer" id="dotContainer"></div>
                </div>
                <div class="formR">
                    <div class="name"></div>
                    <div class="position"></div>
                    <div class="bookingForm">
                        <div class="bookingTitle">訂購導覽行程</div>
                        <div class="bookingInfo">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                        <div class="date">
                            <div class="dateTitle">選擇日期：</div>
                            <div class="dateForm">
                                <input type="date"class="dateInput" id="dateInput"placeholder="yyyy/mm/dd"  />
                            </div>
                        </div>
                        <div class="time">
                            <div class="timeTitle">選擇時間：</div>
                            <div class="timeLable">
                                <label for="time">
                                    <input
                                        class="time_btn AM"
                                        type="radio"
                                        name="time"
                                        id="AM"
                                        value="上半天"
                                        checked
                                    />
                                    <label class="time_title" for="AM">上半天</label>
                                    <input
                                        class="time_btn PM"
                                        type="radio"
                                        name="time"
                                        id="PM"
                                        value="下半天"
                                    />
                                    <label class="time_title" for="PM">下半天</label>
                                </label>
                            </div>
                        </div>
                        <div class="fee">
                            <div class="feeTitle">導覽費用：</div>
                            新台幣<span class="money">2000</span>元
                        </div>
                        <button class="forBooking">開始預約行程</button>
                    </div>
                </div>
            </div>
            </div>
        <div class="lineContainer">
            <hr class="line">
        </div>
        
        <div class="infors">
            <div class="infoContainer">
                <div class="description"></div>
                <div class="address">
                    <div class="addressTitle">景點地址：</div>
                    <div class="addressInfo"></div>
                </div>
                <div class="transport">
                    <div class="transportTitle">交通方式：</div>
                    <div class="transportInfo"></div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="foot">COPYRIGHT © 2021 台北一日遊</div>
    </footer>
    <script src="../static/JS/attraction.js"></script>
    <script src="../static/JS/signin.js"></script>
    <script src="../static/JS/booking.js"></script>
</body>
</html>
