<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taipei Day Trip</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
    <header>
        <div class="head">
            <div class="left">台北一日遊</div>
            <div class="right">
                <div class="item">預定行程</div>
                <div class="item">登入/註冊</div>
            </div>
        </div>
    </header>

    <section>
        <div class="welcome-bg">
            <div class="welcome">
                <div class="text">輕鬆享受台北一悠閒</div>
                <div class="text2">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="search">
                    <input class="search-bar" type="text" name="search" id="search" placeholder="輸入景點名稱查詢">
                    <button class="search-btn"></button>
                </div>
            </div>
        </div>
    </section>

    <main>
        <div class="list">
            <div class="list-bar">
                <button class="list-Lbtn" id="list-Lbtn"></button>
                <div class="mrts" id="mrts">
                    <!-- 這裡將使用JavaScript動態 -->
                </div>
                <button class="list-Rbtn" id="list-Rbtn"></button>
            </div>
        </div>

        <div class="content">
            <div class="main2" id="attractions">
                <!-- 這裡將使用JavaScript動態加入景點資料 -->
            </div>
        </div>
    </main>
    <footer>
        <div class="foot">COPYRIGHT © 2021 台北一日遊</div>
    </footer>
    <script src="../static/app.js"></script>
</body>
</html>
