@charset "UTF-8";
* {
  margin: 0px;
}

.sign {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.sign .loginBox {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  position: absolute;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
}
.sign .loginBox .decorate {
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  border-radius: 5px 5px 0px 0px;
}
.sign .loginBox .loginTitle {
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
.sign .loginBox .loginTitle img {
  position: absolute;
  right: 17px;
  top: 27px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.sign .loginBox .login .loginEmail,
.sign .loginBox .login .loginPassword {
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 15px 15px;
  width: 280px;
  margin-left: 15px;
}
.sign .loginBox .login .loginEmail {
  margin-top: 15px;
  margin-left: 15px;
}
.sign .loginBox .login .loginPassword {
  margin-top: 10px;
  margin-left: 15px;
}
.sign .loginBox .login .loginBtn {
  background-color: #448899;
  color: #ffffff;
  border: 0px;
  padding: 10px 20px;
  font-size: 19px;
  border-radius: 5px;
  width: 310px;
  margin-top: 10px;
  margin-left: 15px;
}
.sign .loginBox .login .notice1 {
  text-align: center;
  margin-top: 10px;
}
.sign .loginBox .login .notice1:hover {
  cursor: pointer;
}
.sign .loginBox .login .message {
  text-align: center;
  color: red;
  margin: 15px;
}
.sign .signupBox {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  position: absolute;
  width: 340px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
}
.sign .signupBox .decorate {
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  border-radius: 5px 5px 0px 0px;
}
.sign .signupBox .signupTitle {
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
.sign .signupBox .signupTitle img {
  position: absolute;
  right: 17px;
  top: 27px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.sign .signupBox .signup .signupEmail,
.sign .signupBox .signup .signupName,
.sign .signupBox .signup .signupPassword {
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-weight: 500;
  padding: 15px 15px;
  width: 280px;
}
.sign .signupBox .signup .signupEmail {
  margin-top: 15px;
  margin-left: 15px;
}
.sign .signupBox .signup .signupName {
  margin-top: 10px;
  margin-left: 15px;
}
.sign .signupBox .signup .signupPassword {
  margin-top: 10px;
  margin-left: 15px;
}
.sign .signupBox .signup .signupBtn {
  background-color: #448899;
  color: #ffffff;
  border: 0px;
  padding: 10px 15px;
  font-size: 19px;
  border-radius: 5px;
  width: 310px;
  margin-top: 10px;
  margin-left: 15px;
}
.sign .signupBox .signup .notice2 {
  text-align: center;
  margin: 15px;
}
.sign .signupBox .signup .notice2:hover {
  cursor: pointer;
}
.sign .signupBox .signup .message2 {
  text-align: center;
  color: red;
  margin: 15px;
}

header {
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
header .head {
  display: flex;
  width: 1200px;
  justify-content: space-between;
}
header .head a {
  text-decoration: none;
}
header .head a .left {
  flex: none;
  font-family: Noto Sans TC;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #448899;
}
header .head .right {
  display: flex;
  align-items: center;
  width: 175px;
  height: 34px;
}
header .head .right .item-booking,
header .head .right .item-login,
header .head .right .item-signout {
  flex: none;
  font-family: Noto Sans TC;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  font-size: 16px;
  color: #666666;
}

section {
  margin-top: 94px;
}
section .form {
  display: flex;
  justify-content: center;
}
section .form .formContainer {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
section .form .formContainer .formL {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
section .form .formContainer .formL .image-container img {
  width: 540px;
  height: 406px;
  -o-object-fit: cover;
     object-fit: cover;
}
section .form .formContainer .formL #prevButton {
  background-image: url("./img/leftArrow.png");
  width: 36px;
  height: 36px;
  opacity: 75%;
  left: 15px;
  border: 0px;
  position: absolute;
  border-radius: 100px;
}
section .form .formContainer .formL #nextButton {
  background-image: url("./img/rightArrow.png");
  width: 36px;
  height: 36px;
  opacity: 75%;
  border: 0px;
  right: 15px;
  position: absolute;
  border-radius: 100px;
}
section .form .formContainer .formL .dotContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 10px;
}
section .form .formContainer .formL .dotContainer .dot {
  width: 12px;
  height: 12px;
  background-image: url("./img/dot.png");
  border-radius: 50%;
  margin: 0 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
section .form .formContainer .formL .dotContainer .dot.active {
  background-image: url("./img/circle current.png");
  width: 12px;
  height: 12px;
}
section .form .formContainer .formR {
  width: 600px;
}
section .form .formContainer .formR .name {
  font-family: Noto Sans TC;
  font-weight: bold;
  font-size: 24px;
  color: #666666;
  font-style: normal;
}
section .form .formContainer .formR .position {
  margin-top: 15px;
  font-family: Noto Sans TC;
  font-size: 16px;
  color: #666666;
  font-style: normal;
}
section .form .formContainer .formR .bookingForm {
  background-color: #E8E8E8;
  margin-top: 20px;
  width: 600px;
  height: 302px;
  position: relative;
}
section .form .formContainer .formR .bookingForm .bookingTitle {
  margin-top: 15px;
  margin-left: 20px;
  color: #666666;
  font-family: Noto Sans TC;
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  position: absolute;
}
section .form .formContainer .formR .bookingForm .bookingInfo {
  margin-top: 52px;
  margin-left: 20px;
  color: #666666;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  position: absolute;
}
section .form .formContainer .formR .bookingForm .date {
  display: flex;
  align-items: center;
  justify-self: start;
  position: absolute;
  margin-top: 91px;
  margin-left: 20px;
}
section .form .formContainer .formR .bookingForm .date .dateTitle {
  font-family: Noto Sans TC;
  font-weight: bold;
  font-size: 16px;
  color: #666666;
  font-style: normal;
  padding-right: 5px;
}
section .form .formContainer .formR .bookingForm .date .dateForm {
  width: 193px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
section .form .formContainer .formR .bookingForm .date .dateForm input[type=date] {
  width: 173px;
  height: 25px;
  border: 0px;
  font-family: Noto Sans TC;
  font-size: 16px;
  color: #000;
  background-image: url("./img/calendar.png"); /* 替换 'icon.png' 为您的图标文件路径 */
  background-repeat: no-repeat;
  background-position: right center;
}
section .form .formContainer .formR .time {
  display: flex;
  align-items: center;
  justify-self: start;
  position: absolute;
  margin-top: 141px;
  margin-left: 20px;
}
section .form .formContainer .formR .time .timeTitle {
  font-family: Noto Sans TC;
  font-weight: bold;
  font-size: 16px;
  color: #666666;
  font-style: normal;
}
section .form .formContainer .formR .time .timeLable .time_title {
  font-family: Noto Sans TC;
  font-size: 16px;
  color: #666666;
  font-style: normal;
}
section .form .formContainer .formR .time .timeLable .time_btn {
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0px;
  vertical-align: middle;
  margin-top: -2px;
  margin-bottom: 1px;
}
section .form .formContainer .formR .time .timeLable input[type=date]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}
section .form .formContainer .formR .time .timeLable .time_btn:hover {
  cursor: pointer;
}
section .form .formContainer .formR .time .timeLable .time_btn:checked {
  background-color: #448899;
}
section .form .formContainer .formR .fee {
  display: flex;
  align-items: center;
  justify-self: start;
  position: absolute;
  margin-top: 178px;
  margin-left: 20px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  color: #666666;
}
section .form .formContainer .formR .fee .feeTitle {
  font-family: Noto Sans TC;
  font-weight: bold;
  font-size: 16px;
  color: #666666;
  font-style: normal;
}
section .form .formContainer .formR .fee .money {
  padding-left: 5px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  color: #666666;
}
section .form .formContainer .formR .forBooking {
  position: absolute;
  margin-top: 225px;
  margin-left: 20px;
  width: 154px;
  height: 36px;
  background-color: #448899;
  color: #FFFFFF;
  border-radius: 5px;
  border: 0px;
  font-size: 19px;
}

.lineContainer {
  display: flex;
  justify-content: center;
}
.lineContainer .line {
  border: 1px solid #E8E8E8;
  border-top: 0px;
  width: 1200px;
  display: flex;
  justify-content: center;
}

.infors {
  display: flex;
  justify-content: center;
}
.infors .infoContainer {
  width: 1200px;
}
.infors .infoContainer .description {
  margin-top: 50px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  color: #666666;
}
.infors .infoContainer .address {
  margin-top: 20px;
}
.infors .infoContainer .address .addressTitle {
  font-family: Noto Sans TC;
  font-weight: bold;
  font-size: 16px;
  color: #666666;
  font-style: normal;
}
.infors .infoContainer .address .addressInfo {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  color: #666666;
}
.infors .infoContainer .transport {
  margin-top: 20px;
}
.infors .infoContainer .transport .transportTitle {
  font-family: Noto Sans TC;
  font-weight: bold;
  font-size: 16px;
  color: #666666;
  font-style: normal;
}
.infors .infoContainer .transport .transportInfo {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  color: #666666;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  padding-right: 10px;
}

footer {
  margin-top: 120px;
  width: 100%;
  height: 104px;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot {
  color: #FFFFFF;
  font-family: Noto Sans TC;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
}

@media (max-width: 1200px) {
  header .head {
    width: 90%;
  }
  section .form .formContainer .formL .image-container {
    width: 90%;
  }
  section .form .formContainer .formL .image-container img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .form .formContainer .formL #nextButton {
    right: 40px;
  }
  section .form .formContainer .formL #prevButton {
    left: 40px;
  }
  section .form .formContainer .formR .bookingForm {
    width: 95%;
  }
  section .form .formContainer .formR .bookingForm .date {
    width: 90%;
  }
  section .lineContainer .line {
    width: 95%;
  }
  section .infors .infoContainer {
    width: 90%;
  }
}
@media (max-width: 600px) {
  header .head {
    width: 90%;
  }
  section {
    margin-top: 54px;
  }
  section .form .formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  section .form .formContainer .formL {
    width: 100%;
  }
  section .form .formContainer .formL .image-container {
    width: 100%;
  }
  section .form .formContainer .formL .image-container img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .form .formContainer .formL #nextButton {
    right: 40px;
  }
  section .form .formContainer .formL #prevButton {
    left: 40px;
  }
  section .form .formContainer .formR {
    width: 95%;
  }
  section .form .formContainer .formR .name {
    margin-top: 15px;
  }
  section .form .formContainer .formR .bookingForm {
    width: 100%;
  }
  section .form .formContainer .formR .bookingForm .date {
    width: 90%;
  }
  section .form .formContainer .formR .bookingForm .date .dateForm {
    width: 40%;
  }
  section .lineContainer .line {
    width: 95%;
  }
  section .infors .infoContainer {
    width: 90%;
  }
}
@media (max-width: 360px) {
  header .head {
    width: 90%;
  }
  section {
    margin-top: 54px;
  }
  section .form .formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  section .form .formContainer .formL {
    width: 100%;
  }
  section .form .formContainer .formL img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .form .formContainer .formR {
    width: 95%;
  }
  section .form .formContainer .formR .name {
    margin-top: 15px;
  }
  section .form .formContainer .formR .bookingForm {
    width: 100%;
  }
  section .form .formContainer .formR .bookingForm .date {
    width: 90%;
    margin-top: 105px;
  }
  section .form .formContainer .formR .bookingForm .date .dateForm {
    width: 70%;
  }
  section .form .formContainer .formR .time {
    margin-top: 152px;
  }
  section .form .formContainer .formR .fee {
    margin-top: 185px;
  }
  section .lineContainer .line {
    width: 95%;
  }
  section .infors .infoContainer {
    width: 90%;
  }
}/*# sourceMappingURL=attraction.css.map */