* {
  margin: 0px;
}

.sign {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.sign .loginBox {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  position: absolute;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
}
.sign .loginBox .decorate {
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  border-radius: 5px 5px 0px 0px;
}
.sign .loginBox .loginTitle {
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
.sign .loginBox .loginTitle img {
  position: absolute;
  right: 17px;
  top: 27px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.sign .loginBox .login .loginEmail,
.sign .loginBox .login .loginPassword {
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 15px 15px;
  width: 280px;
  margin-left: 15px;
}
.sign .loginBox .login .loginEmail {
  margin-top: 15px;
  margin-left: 15px;
}
.sign .loginBox .login .loginPassword {
  margin-top: 10px;
  margin-left: 15px;
}
.sign .loginBox .login .loginBtn {
  background-color: #448899;
  color: #ffffff;
  border: 0px;
  padding: 10px 20px;
  font-size: 19px;
  border-radius: 5px;
  width: 310px;
  margin-top: 10px;
  margin-left: 15px;
}
.sign .loginBox .login .notice1 {
  text-align: center;
  margin-top: 10px;
}
.sign .loginBox .login .notice1:hover {
  cursor: pointer;
}
.sign .loginBox .login .message {
  text-align: center;
  color: red;
  margin: 15px;
}
.sign .signupBox {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  position: absolute;
  width: 340px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
}
.sign .signupBox .decorate {
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  border-radius: 5px 5px 0px 0px;
}
.sign .signupBox .signupTitle {
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
.sign .signupBox .signupTitle img {
  position: absolute;
  right: 17px;
  top: 27px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.sign .signupBox .signup .signupEmail,
.sign .signupBox .signup .signupName,
.sign .signupBox .signup .signupPassword {
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-weight: 500;
  padding: 15px 15px;
  width: 280px;
}
.sign .signupBox .signup .signupEmail {
  margin-top: 15px;
  margin-left: 15px;
}
.sign .signupBox .signup .signupName {
  margin-top: 10px;
  margin-left: 15px;
}
.sign .signupBox .signup .signupPassword {
  margin-top: 10px;
  margin-left: 15px;
}
.sign .signupBox .signup .signupBtn {
  background-color: #448899;
  color: #ffffff;
  border: 0px;
  padding: 10px 15px;
  font-size: 19px;
  border-radius: 5px;
  width: 310px;
  margin-top: 10px;
  margin-left: 15px;
}
.sign .signupBox .signup .notice2 {
  text-align: center;
  margin: 15px;
}
.sign .signupBox .signup .notice2:hover {
  cursor: pointer;
}
.sign .signupBox .signup .message2 {
  text-align: center;
  color: red;
  margin: 15px;
}

header {
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
header .head {
  display: flex;
  width: 1200px;
  justify-content: space-between;
}
header .head a {
  text-decoration: none;
}
header .head a .left {
  flex: none;
  font-family: Noto Sans TC;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #448899;
}
header .head .right {
  display: flex;
  align-items: center;
  width: 175px;
  height: 34px;
}
header .head .right .item-booking,
header .head .right .item-login,
header .head .right .item-signout {
  flex: none;
  font-family: Noto Sans TC;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  font-size: 16px;
  color: #666666;
}

section {
  margin-top: 54px;
  width: 100%;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .thanks_order {
  color: #666666;
  font-family: Noto Sans TC;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
}

footer {
  width: 100%;
  height: 104px;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot {
  color: #FFFFFF;
  font-family: Noto Sans TC;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
}

@media (max-width: 1200px) {
  header .head {
    width: 90%;
  }
}
@media (max-width: 600px) {
  header .head {
    width: 90%;
  }
}
@media (max-width: 360px) {
  .sign .loginBox {
    width: 90%;
  }
  .sign .signupBox {
    width: 90%;
  }
  header .head {
    width: 90%;
  }
  header .head .right {
    width: 50%;
  }
}/*# sourceMappingURL=thank.css.map */